<%@ Page language="c#" Debug="true" Codebehind="CustomerOrders.pas" AutoEventWireup="false" Inherits="CustomerOrders.TCustomerOrders" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head runat="server">
    <title></title>
  </head>

  <body>
     <form runat="server">
      <p align="center">
  <center><a href="http://www.codegear.com"><img src="coderage.jpg"  border="0"></a></center>
  <center>&nbsp;
</center>
      <p>
      </p>
      <p align="center">
        <ASP:DataGrid id="DataGrid1" runat="server" bordercolor="White" borderstyle="Ridge" borderwidth="2px" cellspacing="1" backcolor="White" cellpadding="3" autogeneratecolumns="False" width="600px">
          <FooterStyle backcolor="#C6C3C6" forecolor="Black"></FooterStyle>
          <SelectedItemStyle backcolor="#9471DE" forecolor="White" font-bold="True"></SelectedItemStyle>
          <PagerStyle backcolor="#C6C3C6" forecolor="Black" horizontalalign="Right"></PagerStyle>
          <ItemStyle backcolor="#DEDFDE" forecolor="Black"></ItemStyle>
          <HeaderStyle backcolor="#4A3C8C" forecolor="#E7E7FF" font-bold="True"></HeaderStyle>
          <Columns>
            <asp:HyperLinkColumn headertext="OrderID" datatextfield="OrderID" datanavigateurlformatstring="editorder.aspx?orderid={0}" datanavigateurlfield="OrderID">
              <HeaderStyle width="100px"></HeaderStyle>
            </asp:HyperLinkColumn>
            <asp:BoundColumn datafield="EmployeeID" headertext="Employee ID">
              <HeaderStyle width="250px"></HeaderStyle>
            </asp:BoundColumn>
            <asp:BoundColumn datafield="OrderDate" headertext="Order Date"></asp:BoundColumn>
            <asp:BoundColumn datafield="ShippedDate" headertext="Shipped Date"></asp:BoundColumn>
          </Columns></ASP:DataGrid>
	  </p><p align="center"><a href="DataForm.aspx">Return to&nbsp;Select Customer&nbsp;page
</a></p><p align="center"></p>
	  <p align="center"><a href="HomePage.aspx">Return to Home Page
</a></p>
      <p></p>
     </form>
  </body>
</html>
