<%@ Page language="c#" Debug="true" Codebehind="DataForm.pas" AutoEventWireup="false" Inherits="DataForm.TDataForm" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head runat="server">
    <title></title>
  </head>

  <body>
     <form runat="server">
      <p align="center">
  <center><a href="http://www.codegear.com"><img src="coderage.jpg"  border="0"></a></center>
  <center>&nbsp;
</center>
  <center>
      <h2>Select Customer
</h2></center>
      <table style="WIDTH: 300px; HEIGHT: 115px" cellspacing="1" cellpadding="1" width="300" border="1" align="center">
          <tr>
            <td>
              <p align="center">
      <ASP:DropDownList id="CustomerDropDown" runat="server" width="231px"></ASP:DropDownList></p></td>
          </tr>
          <tr>
            <td>
      <p align="center">
        <ASP:Button id="GetCustomerOrders" runat="server" text="For Orders For This Customer" width="241px"></ASP:Button>
      </p></td>
          </tr>
      </table>
      <p align="center">
        <ASP:Label id="ErrorMessageLabel" runat="server" forecolor="Red"></ASP:Label></p>
      <p align="center">
      </p>
      <p align="center">
      </p>
      <p align="center"><a href="HomePage.aspx">Return to Home Page
</a>
      </p>
      <p></p>
     </form>
  </body>
</html>
