<%@ Page language="c#" Debug="true" Codebehind="EditOrder.pas" AutoEventWireup="false" Inherits="EditOrder.TEditOrder" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head runat="server">
    <title></title>
  </head>

  <body>
     <form runat="server">
      <p align="center">
  <center><a href="http://www.codegear.com"><img src="coderage.jpg"  border="0"></a></center>
  <center>&nbsp;
</center>
  <center>&nbsp;
</center>
      <p>&nbsp;
</p>
      <p></p>
      <table style="WIDTH: 425px; HEIGHT: 172px" cellspacing="1" cellpadding="1" width="425" border="1" align="center">
          <tr>
            <td style="WIDTH: 210px">Ship&nbsp;Name
</td>
            <td>
              <ASP:TextBox id="ShipNameTextBox" runat="server"></ASP:TextBox></td>
          </tr>
          <tr>
            <td style="WIDTH: 210px; HEIGHT: 30px">Ship Address
</td>
            <td style="HEIGHT: 30px">
              <ASP:TextBox id="ShipAddressTextBox" runat="server"></ASP:TextBox></td>
          </tr>
          <tr>
            <td style="WIDTH: 210px">
              <p>Ship City
</p></td>
            <td>
              <ASP:TextBox id="ShipCityTextBox" runat="server"></ASP:TextBox></td>
          </tr>
          <tr>
            <td style="WIDTH: 210px">Ship Region
</td>
            <td>
              <ASP:TextBox id="ShipRegionTextBox" runat="server"></ASP:TextBox></td>
          </tr>
          <tr>
            <td style="WIDTH: 210px">Ship Country
</td>
            <td>
              <ASP:TextBox id="ShipCountryTextBox" runat="server"></ASP:TextBox></td>
          </tr>
      </table>
      <p align="center">
      <ASP:Button id="SaveButton" runat="server" text="Save" width="84px"></ASP:Button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <ASP:Button id="CancelButton" runat="server" text="Cancel" width="94px"></ASP:Button>


</p>
      <p align="center">
        <ASP:Label id="ErrorMessageLabel" runat="server" forecolor="Red" font-size="Larger"></ASP:Label></p>
      <p align="center">&nbsp;
</p>
      <p align="center"><a href="HomePage.aspx">Return to Home Page
</a></p>
      <p></p>
     </form>
  </body>
</html>
