<%@ Page language="c#" Debug="true" Codebehind="HomePage.pas" AutoEventWireup="false" Inherits="HomePage.THomePage" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head runat="server">
    <title></title>
  </head>

  <body>
     <form runat="server">
      <p align="center">
  <center><a href="http://www.codegear.com"></a></center>
  <center>
</center>
	  <center>
</center>
	  <center>
      <h1><img height="110" hspace="0" src="coderage.jpg" width="400" border="0"></h1>
      <h1>Creating Scalable Data Access<br>Layers for ASP.NET Applications 
</h1></center>
	  <center>
      <h3>Cary Jensen, Jensen Data Systems, Inc.
</h3></center>
	  <center><h3><a href="login.aspx">Click Here to Login
</a></h3></center>
	  <center><h3>Already Logged In? <a href="DataForm.aspx">Click Here
</a>

</h3></center>
	  <p></p>
	  <p></p><p align="center"><a href="http://www.jensendatasystems.com"><img height="138" hspace="0" src="jdsicom.gif" width="257" border="0"></a></p><p align="center">Click the JDSI logo to visit the Jensen Data Systems Web site</p>
      <p></p>
     </form>
  </body>
</html>
