<%@ Page language="c#" Debug="true" Codebehind="Login.pas" AutoEventWireup="false" Inherits="login.TLogin" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head runat="server">
    <title></title>
  </head>

  <body>
     <form runat="server">
      <p align="center">
  <center><a href="http://www.codegear.com"><img src="coderage.jpg"  border="0"></a><br></center>
  <center>
</center>
  <center align="left">
</center>
      <table style="WIDTH: 296px; HEIGHT: 46px" cellspacing="1" cellpadding="1" width="296" align="center" border="1">
          <tr>
            <td style="WIDTH: 107px">User Name:
</td>
            <td>
              <ASP:TextBox id="UserNameTextBox" runat="server" width="129px"></ASP:TextBox></td>
          </tr>
      </table>
      <p align="center">(Example: ALFKI)<br>
        <br>
        <ASP:Button id="LoginButton" runat="server" width="120px" text="Login"></ASP:Button>
      
</p>
      <p align="center">
        <ASP:Label id="ErrorMessageLabel" runat="server" forecolor="Red"></ASP:Label>
      </p>
      <p align="center">
      </p>
      <p align="center"><a href="http://localhost/DataLayer2/HomePage.aspx">Return to Home Page
</a>
      </p></p>
     </form>
  </body>
</html>
