﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TestWebApp._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
  <link href="StyleSheet.css" rel="stylesheet" type="text/css" />
  <title></title>
</head>

<body>
These are some test examples I am trying<br /><br />
  <form id="form1" runat="server">
    <div>
      <a href="HtmlPage.htm">HTML Test Page</a><br />
      <a href="TestAsp.asp">ASP Test Page</a><br />
      <a href="TestAspx.aspx">ASPX Test Page</a><br />
   </div>
    </form>
  <p>
    &nbsp;</p>
</body>
</html>
