﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestAspx.aspx.cs" Inherits="TestWebApp.WebForm1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
      <asp:Table ID="Table1" runat="server" BorderStyle="Solid" Width="100%">
        <asp:TableRow runat="server">
          <asp:TableCell runat="server" Width="33%" BorderStyle="Solid">Col 0</asp:TableCell>
          <asp:TableCell runat="server" Width="33%" BorderStyle="Solid">Col 1</asp:TableCell>
          <asp:TableCell runat="server" BorderStyle="Solid">Col 2</asp:TableCell>
        </asp:TableRow>
      </asp:Table>
    
    </div>
    </form>
</body>
</html>
