<%@ Page language="c#" Debug="true" Codebehind="Default.pas" AutoEventWireup="false" Inherits="Default.TDefault" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head runat="server">
    <title></title>
  </head>

  <body>
     <form runat="server">
      <asp:GridView id="GridView1" runat="server" width="344px" height="212px" forecolor="#333333" cellpadding="4" gridlines="None">
        <FooterStyle backcolor="#507CD1" forecolor="White" font-bold="True"></FooterStyle>
        <RowStyle backcolor="#EFF3FB"></RowStyle>
        <EditRowStyle backcolor="#2461BF"></EditRowStyle>
        <SelectedRowStyle backcolor="#D1DDF1" forecolor="#333333" font-bold="True"></SelectedRowStyle>
        <PagerStyle backcolor="#2461BF" forecolor="White" horizontalalign="Center"></PagerStyle>
        <HeaderStyle backcolor="#507CD1" forecolor="White" font-bold="True"></HeaderStyle>
        <AlternatingRowStyle backcolor="White"></AlternatingRowStyle></asp:GridView>
     </form>
  </body>
</html>
